/* CSS Document */

/*------------------------------------------------------------------
[Master Stylesheet]

Project: Greater Chernobyl Cause
Version: .1
Assigned to: Sharon Fitzgerald


[Table of contents]

1. General and Overall 
2. Main Navigation
3. Content Area
4. Red Title Bar
5. Right Side Bar
6. Footer
7. Homepage Specific - Information Boxes


-------------------------------------------------------------------
------------------------------------------------------------------

 [1.] General and overall ---------------------- */

div.ideas_table{
float:left;
position:relative;
margin:0;
padding:0;
clear:both;
}

html, body
{
background-color: #FFFFFF;
margin: 0em;
padding: 0em;
background-image:url(images/main_background.jpg);
background-repeat:repeat-x;
}

#content_area a{

}

#header_bg{
position:absolute;
width:100%;
height:3.75em;
background-color:#ab2328;
top:7.5em;
left:0;
}

li.donate_now{
width:308px;
height:3.8em;
background-image:url(images/donate.jpg);
background-repeat:no-repeat;
}

#main
{
width: 980px;
margin-right: auto;
margin-left: auto;
position:relative;
}

#main h1{
position:absolute;
z-index:101;
left:3.2em;
top:0em;
font-family:arial;
font-size:3.5em;
color:#ab2328;
}

/*[2.] Main Navigation ---------------------- */

#projects_home h4{
background-image:url(images/home_heading2.jpg);
float:left;
position:relative;
width:27em;
padding:.3em;
font-size:1.6em;
}


#top_nav
{
background-color:#ab2328;
float: left;
width: 100%;
text-decoration: none;
height:60px;
float:left;
top:4em;
z-index:100;
}


#top_nav li.currentpage 
{
background-image: url(images/nav_on.gif);
background-repeat: repeat-x;
background-position: left bottom;
float: left;
text-decoration: none;   	
}


#top_nav dfn{
display:none;

}


#top_nav .currentpage h3{
font-family: "Arial";
font-size: 0.875em;
font-weight:bold;
text-transform: uppercase;
color: #ffffff;
text-decoration: none;
background-repeat: no-repeat;
background-position: right center;
padding-top: 1.85em;
padding-right: 0.6em;
padding-bottom: 1.85em;
padding-left: .6em;
float: left;
}


#top_nav ul
{
display: inline;
margin: 0em;
padding:0;
list-style-type: upper-alpha;
float: left;
position:relative;
}

#top_nav ul li
{
display: inline;
float: left;
text-decoration: none;
background-color: #af2a39;;
}



#top_nav ul li a
{
	font-family: "Arial";
	font-size: 0.875em;
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	padding-top: 1.5em;
	padding-right: .4em;
	padding-bottom: 1.5em;
	padding-left: .4em;
	float: left;
        border-right:.2em solid #c05a5e;
}

#top_nav ul li a:hover
{
	font-family: "Arial";
	font-size: 0.875em;
	font-weight: normal;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 1.5em;
	padding-right: .4em;
	padding-bottom: 1.5em;
	padding-left: .4em;
	float: left;
background-image: url(images/nav_on2.gif);
}



/* [3.] Content Area ---------------------- */


#content
{
	background-repeat: repeat-x;
	background-position: left top;
	float: left;
	width: 61.3em;
	background-color: #FFFFFF;
	position: relative;
	padding-bottom: 2em;
background-image: url(images/body_bg.png);
background-repeat:repeat-y;
}

#content_area p b a{
color:#000;
text-decoration:none;
}

#content_area p b a:hover{
text-decoration:underline;
}

#content_area p a{
color:#000;
text-decoration:none;
}

#content_area p a:hover{
text-decoration:underline;
}

#content_left
{
	float: left;
	width: 34.25em;
}

#content_area
{
	float: left;
	width: 38em;
	padding-top: 1em;
	padding-right: 0em;
	padding-left: 0em;
	font-family: "Trebuchet MS","Myriad Pro";
	font-size: 1em;
	font-weight: normal;
	color: #4d4d4d;
	text-decoration: none;
        text-align:justify;
        font-size:.89em;
        text-align:left;
min-height:50em;
}

#content_area h3{
font-family:georgia;
background-color:#000;
padding:.2em;
color:#fff;
font-weight:bold;
font-size:2em;
width:21.5em;
float:left;
position:relative;
margin-top:.5em;
margin-bottom:.5em;
}

.header_content img{
float:left;
position:relative;
padding:0;
margin:0;
width:43.5em;
}

#projects_home h3{
font-size:1.7em;
color:#fff;
background-color:#000;
width:24.9em;
height:.8em;
padding-bottom:.4em;
padding-top:.3em;
padding-left:.7em;
}

#projects_home p{
margin-bottom:1.5em;

}

.project_title{
float:left;
position:absolute;
width:33.5em;
top:0;
left:0;
color:#fff;
font-size:1.4em;
}

.project_title ul li{
float:left;
width:10em;
}

.project_title ul li a{
color:#fff;
text-decoration:none;
}

#content_area ul
{

	display: block;
	margin: 0em;
	list-style-type: none;

	padding-top: 0.9em;
	padding-right: 0em;
	padding-bottom: 0em;
	padding-left: 0em;
        font-size:1em;
}

#content_area ul li
{
	background-repeat: no-repeat;
	background-position: left 0.45em;
	display: block;
	margin: 0em;
	padding-top: 0em;
	padding-right: 0em;
	padding-bottom: 0em;
	padding-left: 1em;
	list-style-type: none;
}

p
{
	margin: 0em;
	padding: 0em;
        font-size:1em;
        text-align:justify;
        font-family:"Trebuchet MS","Myriad Pro";
}


h2
{
	font-family: "Trebuchet MS","Myriad Pro";
	font-size: 1em;
	margin: 0em;
	color: #6f6c6c;
	line-height: 1em;
	padding-top: 0em;
	padding-right: 0em;
	padding-bottom: 1em;
	padding-left: 0em;
        text-align:justify;
}
h3
{
	color: #c30d0b;
	margin: 0em;
	padding: 0em;
	font-family: "Trebuchet MS","Myriad Pro";
	font-size: 1em;
	font-weight: normal;
	text-decoration: none;
}


/* [4.] Red Title Bar ----------------------  */


#title_bar img{
float:left;
position:relative;
margin-left:0em;
width:61.3em;
z-index:1;
}

#title_bar h2{
float:left;
position:relative;
margin-top:-2em;
margin-left:6.7em;
z-index:1;
font-family: "Trebuchet MS","Myriad Pro";
font-size:  1.30em;
font-weight: normal;
color:#ffffff;
}

/* [5.] Right Sidebar ---------------------- */

#content_right
{
width: 20em;
margin-top: 0em;
border:.2em solid #000;
min-height:39.4em;
}

#right_box{
	float: left;
        position:relative;
	width: 19em;
        min-height:39.4em;
}

#right_img img{
float:left;
position:relative;
margin-left:1.5em;
margin-top:1em;
margin-bottom:1em;
}

#right_box h2{
margin-left:1.1em;
margin-bottom:-1em;
color:#000000;
font-family: "Trebuchet MS","Myriad Pro";
font-weight:normal;
font-size:  1.10em;
}


#right_box p{
float:left;
position:relative;
padding:1.5em;
color:#555555;
font-family: "Trebuchet MS","Myriad Pro";
font-weight:normal;
font-size:  0.75em;
}

#right_box a{
font-family: "Trebuchet MS","Myriad Pro";
font-size: .79em;
font-weight: bold;
color: #af2b39;
text-decoration: none;
background-image: url(images/arrow.gif);
background-repeat: no-repeat;
background-position: 1.325em center;
padding-left: 3.3em;
padding-top: 0.5em;
padding-bottom: 0.5em;
float: left;
}

#right_box a:hover{
text-decoration: underline;
}


/* [6.] Footer ---------------------- */

#footer
{
	text-decoration: none;
	background-color: #ab2328;
	float: left;
	width: 100%;
        text-align:left;
        height:8em;
        font-family:"Trebuchet MS","Myriad Pro";
}
#footer_wrapper{
margin: 0 auto; 
padding: 0px; 
text-align: left; 
width:100%;
}
#footer_left
{
	font-size: 0.85em;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	width: 104em;
        margin:0 auto;
}

#footer p{
font-size:.65em;
text-align:center;
}


#title-txt{
       font-family: "Trebuchet MS","Myriad Pro";
	font-size:  1.625em;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
	margin: 0em;
	padding-top: 3em;
	padding-right: 0em;
	padding-bottom: .75em;
	padding-left: 2.3em;

}


/* [7.] Homepage Specific - Information Boxes ---------- */


.info_box1 p{
float:left;
position:relative;
margin-top:-7em;
margin-left:.5em;
}

.info_box1 h3{
color:#ffffff;
font-size:1.4em;
font-weight:normal;
float:left;
position:relative;
margin-top:-6.9em;
margin-left:.5em;
}

div #content_area .info_box1 ol{
float:left;
position:relative;
margin-top:-7em;
margin-left:0em;
display:block;
list-style-image: url(images/check.gif);
list-style-type: circle;
}

.info_box2 img{
float:left;
position:relative;
margin-left:17em;
margin-top:-10.7em;
}

div #content_area .info_box2 ol{
float:left;
position:relative;
margin-top:-7.5em;
margin-left:17em;
display:block;
list-style-image: url(images/check.gif);
list-style-type: circle;
}

.info_box2 h3{
color:#ffffff;
font-size:1.4em;
font-weight:normal;
float:left;
position:relative;
margin-top:-7.2em;
margin-left:12.7em;
}

.info_box3 img{
float:left;
position:relative;
margin-left:0em;
margin-top:0.7em;
}

div #content_area .info_box3 ol{
float:left;
position:relative;
margin-top:4em;
margin-left:-14.5em;
display:block;
list-style-image: url(images/check.gif);
list-style-type: circle;
}

.info_box3 h3{
color:#ffffff;
font-size:1.4em;
font-weight:normal;
float:left;
position:relative;
margin-top:0.99em;
margin-left:-9.7em;
}

.info_box4 img{
float:left;
position:relative;
margin-left:17em;
margin-top:-10.2em;
}

div #content_area .info_box4 ol{
float:left;
position:relative;
margin-top:-7em;
margin-left:-14.5em;
display:block;
list-style-image: url(images/check.gif);
list-style-type: circle;
}

.info_box4 h3{
color:#ffffff;
font-size:1.4em;
font-weight:normal;
float:left;
position:relative;
margin-top:-6.9em;
margin-left:-9.7em;
}

.info_box_wrapper{
padding:2.5em;
margin-top:-3em;
}

#sidebar{
float:left;
position:relative;
width:16.5em;
margin-left:2.1em;
margin-right:1em;
margin-top:1em;
}

#sidebar ul li{
border-bottom:1px solid #000;
}

#sidebar p{
margin-bottom:1.5em;
margin-top:.5em;
font-size:.85em;
}

#sidebar h3{
color:#fff;
background-color:#000;
padding:.5em;
font-family:georgia;
font-weight:bold;
font-size:1.2em;
}

#sidebar ul {
list-style-type:none;
margin-bottom:1em;
padding:0;
font-family:georgia;
}

#sidebar ul li {
margin-bottom:.8em;
padding:0;
}


#sidebar ul li a{
text-decoration:none;
color:#000;
}


.Project_links{
float:left;
position:relative;
width:46.8em;
margin-top:1em;
}

.Project_links img{
margin-right:1.5em;
}

#footer_left{
text-align:center;
width:51em;
margin-top:1em;
font-size:1.2em;

}

#footer_left hr{
width:27em;
background-color:#d59193;
border:0;
height:4px;
}


#paypal img{
position:absolute;
left:80em;
padding:.5em;
}

/* ---------------------- Video ------------------------*/

.video_section{
float:left;
position:relative;
width:43em;
margin-bottom:3em;
}

.section1_video{
float:left;
margin-right:1em;
}

.section1_video p{
color:#ab2328;
font-size:1.5em;
margin-bottom:.7em;
}

.section2_text{
margin-top:2.2em;
border-top:.2em solid;
border-color:#000;
padding-top:.5em;
}

h5{
float:left;
width:22em;
font-size:2em;
font-family:georgia;
color:#000;
padding-top:.5em;
padding-bottom:.5em;
margin:0;
}

.news_heading{
float:left;
position:relative;
width:37em;
margin-top:1.5em;
margin-bottom:.5em;
font-weight:bold;
font-size:1.2em;
color:#000;
}

.news_item{
border-bottom:2px solid #999;
}

#news_date{
color:#ab2328;
float:left;
width:5em;
}

#s3slider {
   width: 630px; /* important to be same as image width */
   height: 275px; /* important to be same as image height */
   position: relative; /* important */
   overflow: hidden; /* important */
}

#s3sliderContent {
   width: 400px; /* important to be same as image width or wider */
   position: absolute; /* important */
   top: 0; /* important */
   margin-left: 0; /* important */
}

.s3sliderImage {
   float: left; /* important */
   position: relative; /* important */
   display: none; /* important */
}

ul#s3sliderContent{
list-style-type:none;
padding:0;
margin-top:1em;
}

.s3sliderImage span {
   {!--position: absolute; /* important */
   left: 0em;
   font: 10px/15px Arial, Helvetica, sans-serif;
   padding: 10px 13px;
   width: 598px;
   background-color: #000;
   filter: alpha(opacity=70); /* here you can set the opacity of box with text */
   -moz-opacity: 0.7; /* here you can set the opacity of box with text */
   -khtml-opacity: 0.7; /* here you can set the opacity of box with text */
   opacity: 0.7; /* here you can set the opacity of box with text */
   color: #fff;
--}
   display: none; /* important */
}

.clear {
   clear: both;
} 

.bottom {
	bottom: 0;
    left: 0;
}

.ideas_wrapper{
float:left;
position:relative;
width:46.5em;
margin-top:2em;
font-size:.85em;
}


.col1 ul,.col2 ul,.col3 ul,.col4 ul{
float:left;
width:11.3em;
height:79.5em;
border-right:.1em solid;
}

.col1 ul li, .col2 ul li, .col3 ul li, .col4 ul li{
border-bottom:.1em solid #ccc;

}

.ideas_wrapper p
{
display:none;
}

.col1 ul li strong, .col2 ul li strong, .col3 ul li strong,.col4 ul li strong{
color:#000;
}

ul#s3sliderContent.projects li.s3sliderImage{
float:left;
position:relative;
margin-left:0;
padding-left:0;
padding-right:0;
margin-right:0;
width:43.5em;
}

ul#s3sliderContent.projects li.s3sliderImage img{
width:43.8em;
}

.help_wrapper{
float:left;
width:100%;
clear:both;
}

ul.cost{
float:left;
width:20%;
}

#content_area div.help_wrapper ul.cost li{
padding:.64em;

}

#content_area div.help_wrapper ul.benefits li{
padding:0;
}

#content_area div.help_wrapper ul.cost{
float:left;
width:20%;
padding-top:0em;
margin-top:.6em;
}

#content_area div.help_wrapper ul.benefits{
float:left;
width:80%;
padding-top:0;
}