#main h1{
position:absolute;
z-index:101;
left:4em;
top:.6em;
font-family:arial;

}

#projects_home h4{
margin-top:1em;
margin-bottom:1em;
}

#footer_bg{
background-color:#ab2328;
width:100%;
position:absolute;
top:73.5em;
left:0;
height:8.2em;
}



#sidebar ul li{
border-bottom: 1px solid #000;
}



#sidebar ul {
list-style-type:none;
margin-bottom:1em;
padding:0;
font-family:georgia;
margin-left:0;
}

#sidebar ul li {
margin-bottom:.8em;
padding:0;
}


.ideas_wrapper{
float:left;
position:relative;
width:47.5em;
margin-top:2em;
font-size:.85em;
}

.col1 ul,.col2 ul,.col3 ul,.col4 ul{
float:left;
width:11em;
height:45em;
border-right:.1em solid;
}

.ideas_wrapper p
{
display:none;
}

.col1 ul li strong, .col2 ul li strong, .col3 ul li strong,.col4 ul li strong{
color:#000;
}

.help_wrapper{
float:left;
width:100%;
clear:both;
}


#content_area div.help_wrapper ul.benefits li{
padding:.80em;
}

#content_area div.help_wrapper ul.cost li{
padding:.80em;
}


#content_area div.help_wrapper ul.benefits{
float:left;
width:80%;
padding:0;
margin:0;
}


#content_area div.help_wrapper ul.cost{
float:left;
width:20%;
padding-top:0em;
margin-top:1.3em;
}